.element__image{
    height: 282px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    overflow:hidden;
    transition: all 1s ease-out;
    box-sizing: border-box;
}

.element__image:hover{
    transform: scale(1.1);
}