.profile__description{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    grid-area: description;
}

@media screen and (max-width: 768px) {
    .profile__description{
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    }
}
