.popup__close{
    position:absolute;
    top: -40px;
    right: -40px;
    height: 32px;
    width: 32px;
    cursor: pointer;
    background-color: transparent;
    background-image: url(../../../images/CloseIcon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    transition: opacity 0.2s linear;
}

.popup__close:hover{
    opacity: 0.6;
}

@media screen and (max-width: 565px) {
    .popup__close{
        width: 20px;
        height: 20px;
        right: 0;
        top: -36px;
    }
}