.footer__project{
    color: #545454;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
}

@media screen and (max-width: 625px) {
    .footer__project{
        font-size: 14px;
        line-height: 17px;
    }
}